#headerTop {
    background: #05445E;
}

#headerTop .headerTop__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#headerTop .headerTop__appName {
    padding: 10px;
}

#headerTop .headerTop__appName a {
    color: #fff;
}

#headerTop .headerTop__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}


#headerTop .headerMenuButton a {
    display:flex;
    flex-direction: column;
}