#myItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#myItems .item {
    margin: 15px;
    text-align: center;
}

.item-options {
    display: flex;
    justify-content: center;
}

.item-options button {
    margin: 0 5px;
}